.container{
 padding: 1rem;
 max-width: 75%;   
 background-color: rgb(190, 148, 230);

}
.container p,h1{
    margin: 23px;
    text-align: center;
    width: auto;
    /* padding: 3%; */
}

p{
    font-size: 16px;
}
input,textarea{
    font-size: 16px;
    width: 70%;
    margin: 11px;
    padding:7px;
    border:2px solid black;
    border-radius:7px;
    outline: none;
    font-size: 18px;
    display: block;
     margin: auto;
 
    margin:10px 10px;

}
form{
    display:flex;
    align-items:center;
    justify-content: column;
    flex-direction:column;
}
.btn{
    width:90%;
    align-items: center;
    cursor: pointer;
    border-radius: 10%;
}

p{
    font-size: 3rem;
}
/* body{
 margin-right: 25%;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} */
